<body>
    <h1>Smart AI Learning App</h1>

    <input type="text" id="subject" placeholder="Enter Subject"><br><br>
    <input type="text" id="topic" placeholder="Enter Topic"><br><br>

    <select id="type">
        <option value="paragraph">Paragraph</option>
        <option value="text">Short Text</option>
        <option value="quiz">Quiz</option>
        <option value="importance">Important Sentences</option>
    </select><br><br>

    <button onclick="generate()">Generate</button>

    <div id="output"></div>

    <script src="/static/script.js"></script>
</body>
